mem.conf
tasklist.txt
tasklist2.txt
frontdesk_push_notifications/models/__pycache__/push_notification_config.cpython-313.pyc
.DS_Store
frontdesk_visitor_api/models/__pycache__/hr_employee.cpython-313.pyc
postman/Odoo_Frontdesk_APIs.postman_collection.json
postman/Odoo_Frontdesk.postman_environment.json
postman/README.md
tests/__init__.py
tests/COMPREHENSIVE_API_TEST_REPORT.md
tests/manual_api_test.py
tests/manual_test_report.json
tests/test_api_direct.py
tests/test_api_endpoints.py
tests/test_visitor_api_comprehensive.py
frontdesk_push_notifications/models/__pycache__/push_notification_config.cpython-313.pyc
frontdesk_visitor_api/controllers/__pycache__/visitor_api.cpython-313.pyc
web_favicon/models/__pycache__/res_company.cpython-313.pyc
*/*/__pycache__/*
*/*/*/*.pyc
*/*/*.pyc
*/*.pyc
*.pyc
*.DS_Store
web_favicon/models/__pycache__/res_company.cpython-313.pyc
web_favicon/models/__pycache__/res_company.cpython-313.pyc
web_favicon/models/__pycache__/res_company.cpython-313.pyc
web_favicon/models/__pycache__/__init__.cpython-313.pyc
web_favicon/models/__pycache__/__init__.cpython-313.pyc
vista_backend_theme/.DS_Store
*/.DS_Store
odoo.conf
frontdesk/controllers/__pycache__/__init__.cpython-313.pyc
frontdesk/controllers/__pycache__/main.cpython-313.pyc
frontdesk/models/__pycache__/__init__.cpython-313.pyc
frontdesk/models/__pycache__/frontdesk_frontdesk.cpython-313.pyc
frontdesk/models/__pycache__/frontdesk_request.cpython-313.pyc
frontdesk/models/__pycache__/frontdesk_visitor.cpython-313.pyc
frontdesk_blacklist/__pycache__/__init__.cpython-313.pyc
frontdesk_outlook_integration/models/__pycache__/__init__.cpython-313.pyc
frontdesk_outlook_integration/models/__pycache__/frontdesk_visitor.cpython-313.pyc
frontdesk_outlook_integration/models/__pycache__/hr_employee.cpython-313.pyc
frontdesk_outlook_integration/models/__pycache__/outlook_config.cpython-313.pyc
frontdesk_push_notifications/models/__pycache__/__init__.cpython-313.pyc
frontdesk_push_notifications/models/__pycache__/frontdesk_visitor.cpython-313.pyc
frontdesk_push_notifications/models/__pycache__/hr_employee.cpython-313.pyc
frontdesk_push_notifications/models/__pycache__/push_notification_config.cpython-313.pyc
frontdesk_push_notifications/models/__pycache__/res_config_settings.cpython-313.pyc
frontdesk_visitor_api/controllers/__pycache__/__init__.cpython-313.pyc
frontdesk_visitor_api/controllers/__pycache__/visitor_api.cpython-313.pyc
frontdesk_visitor_api/models/__pycache__/__init__.cpython-313.pyc
frontdesk_visitor_api/models/__pycache__/hr_employee.cpython-313.pyc
web_favicon/models/__pycache__/res_company.cpython-313.pyc
